
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#top-nav {
    background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}
.logo{
    height: 60px;
    width: 139px;
}
.menu{
    
 width: 365px;
height: 24px;
gap: 32px;
 display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    color: white;
}
