
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


body {
    width: 100%;
    overflow-x: hidden;
}

#top-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    width: 100%;
}

.logo {
    height: 60px;
    width: 139px;
}

.menu {
    width: 365px;
    height: 24px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn {
    width: 164px;
    height: 44px;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: white;
}

.btn:hover {
    background-color: #367b52;
    cursor: pointer;
}

#hero {
    width: 100%;
    height: 100vh; 
    background: url("./assets/hero-bg.png") center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-con {
    max-width: 1200px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 120px;
}

.btn-1 {
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, 1);
    color: #469165;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #469165;
    box-shadow: 0 0 0 4px rgba(47, 132, 91, 0.24), 0 0 0 8px rgba(47, 132, 91, 0.12);
    flex-shrink: 0;
}

.section-heading {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
}

.section-heading2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(48, 184, 104, 1);
}

.text {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 16px;
    max-width: 900px;
}

.btn-3 {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.one {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two {
    width: 198px;
    height: 52px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#Notes {
    width: 100%;
    padding: 60px 120px 80px; 
    background-color: rgba(255, 255, 255, 1);
}

.notes-heading3 {
    color: rgba(22, 22, 22, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.text-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #627382;
    margin-bottom: 44px;
}

.card {
    max-width: 1296px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
}

.card-info {
    width: 322px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    
}


.card-info img{
    width: 44px;
    height: 44px;
    padding: 10px; 
    background-color: #F95555; 
    border-radius: 50%;
    align-items: center;
    margin: 50px 120px 0px 120px;
    
  
}   

.text-3 {
    font-size: 20px; 
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin-bottom: 12px;
    color: #161616;
}

.text-4 {
    font-size: 14px; 
    font-weight: 400;
    line-height: 22px;
    color: #627382;
    text-align: center;
}
.second-brain-section{
    display: flex;
    padding:120px;
    width: 100%;
    background: rgba(255, 255, 255, 1);

}
.img{
   
width: 600px;
height: 600px;
border-radius: 12px;

}
.info-part{
    margin-top: 102px;

   
}
.sol{
    size:16px;
    font-weight: 500;
    margin-left: 60px;
    color: #30B868;
    text-transform: uppercase;
   line-height: 20px;
letter-spacing: 0%;

}
.sol-2{
     margin-left: 60px;
     font-size:  48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-transform: capitalize;
}
.sol-3{
    size: 16px;
    color: #627382;
    margin-left: 60px;
    margin-top: 16px ;
    margin-bottom: 40px;

}
.icon-1{
    size: 16px;
    margin-left: 60px;
    margin-top: 16px ;
    letter-spacing: 0;

    font-weight: 500;

    flex-shrink: 0;
      display: flex;
    align-items: center; 
    

   
    
    
    
}